:root{

--bg:#09090b;
--surface:#111118;
--surface2:#171720;

--primary:#5B8CFF;
--secondary:#7B61FF;
--accent:#00E5FF;

--text:#ffffff;
--text2:#cfcfd8;
--muted:#8c8c98;

--border:rgba(255,255,255,.08);

--radius:22px;

--shadow:
0 10px 30px rgba(0,0,0,.35);

--glass:
rgba(255,255,255,.05);

--blur:18px;

--container:1280px;

--transition:.35s ease;

}
